@charset "UTF-8";

#container{
	padding:50px 15px 0 15px;
	background:#f8f9fa;
	margin: 0;
}

ul#top-menu{
	border: #d3d3d3;
	border-bottom-style:solid;
	border-bottom-width: 0.5px;
	list-style-type:none;
	width:100%;
	position:relative;
	height:27px;
	font-size:15px;
	font-weight:bold;
	/* font-family: 'MapoFlowerIsland'; */
	margin:0;
	padding:0;
}

ul#top-menu li{
	display:block;
	float:left;
	margin:0 0 0 7px;
	height:27px;
}

ul#top-menu li a{
	border: #d3d3d3;
	border-top-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-top-width: 0.5px;
	border-right-width: 0.5px;
	border-left-width: 0.5px;
	
	display:block;
	float:left;
	color:#000;
	background:#fafafa;
	line-height:27px;
	text-decoration:none;
	padding:0 17px 0 18px;
	height:27px;
}

ul#top-menu li a.current{
	color:#2E4560;
	background:#fff;
}

ul#top-menu li a.current:hover{
	color:#2E4560;
	background: #fafafa;
}
